@charset "UTF-8";


@media screen and (min-width: 100px) and (max-width: 900px) {
    /*======================= HEADER ======================*/

    main, header {
        padding: 1rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        height: 10rem;
        align-items: flex-start;
    }

    header form {
        display: flex;
        align-items: center;
        position: absolute;
        width: calc(100vw - 2rem);
        padding: 0;
        margin-bottom: 1rem;
        left: 0px;
    }

    .boxlogo, .boxprofile {
        display: flex;
        align-items: center;
        height: 5rem;
    }

    .boxlogo {
        width: auto;
        gap: 1rem;
    }

    .boxlogo img {
        width: 7rem;
        object-fit: contain;
    }

    .boxsearch {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 2rem;
        width: 100%;
    }

    .boxprofile {
        display: flex;
        width: 40%;
    }

    .boxprofile img {
        flex: 1;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
    }

    /*======================= CONTENT ======================*/
    .containerVideo {
        gap: 4rem 0px;
        aspect-ratio: 16/9;
    }

    .containerVideo iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .boxviews {
        position: relative;
        height: auto;
        padding: 1.3rem 0px;
        height: 8rem;
    }

    .boxviews .list {
        position: absolute;
        width: 100%;
        bottom: 0.5rem;
        gap: 0.3rem;
        flex-wrap: nowrap;
    }

    .boxviews .list img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .boxviews .boxshare, .boxviews button {
        position: absolute;
        top: 0.5rem;
    }

    .boxviews .boxshare {
        left: 0px;
        width: 50%;
    }

    .boxviews button {
        right: 0px;
        width: auto;
    }

    /*======================= ASIDE ======================*/

    aside {
        padding: 4rem 0px;
        width: 100%;
        gap: 4rem 0px;
    }

    .card {
        flex-direction: column;
        padding: 1rem 0px;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


}


@media screen and (min-width: 901px) {

    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem 4%;
    }

    /*======================= HEADER ======================*/
    header {
        padding: 1rem;
    }

    .boxlogo {
        width: 11rem;
        height: 100%;
    }

    .boxlogo img {
        width: 8rem;
        height: 2.5rem;
        object-fit: contain;
    }

    .boxlogo img {
        padding-left: 1.1rem;
    }

    .menu, .menu span {
        width: 2.3rem;
    }

    .menu span {
        background-color: var(--color-black);
    }

    .boxprofile {
        width: auto;
        gap: 1.5rem;
    }

    .boxprofile img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
    }

    form input {
        width: 20vw;
    }

    /*======================= CONTENT ======================*/

    .containerVideo {
        width: 75vw;
        min-height: 100vh;
        gap: 1.5rem;
    }

    .containerVideo iframe {
        width: 100%;
        min-height: 600px;
        aspect-ratio: 16/9;
        object-fit: contain;
        object-position: top;
    }

    .containerVideo #paragraph-content-video {
        padding: 1.5rem 0px;
        width: 40rem;
        max-width: 40vw;
    }

    .boxviews {
        gap: 1.5rem;
    }

    /*======================= ASIDE ======================*/
    aside {
        width: 30vw;
        padding: 0rem 0rem 0rem 1%;
        gap: 2rem;
    }

    .card {
        padding: 0.5rem 0px;
        gap: 1rem;

    }

    .card:nth-child(1) {
        padding: 0px;
    }


    .card img {
        width: 20rem;
        aspect-ratio: 16/09;
        height: 8rem;
        object-fit: cover;
    }

    .card:nth-child(2), .card:nth-child(7) {
        max-width: 20rem;
    }

    .card .contentCard h2 {
        padding: 0;
        margin: 0;
    }

}